<section class="all-collections">
    <h1>Featured Collections</h1>
    <div class="collection-container">
        <div class="all-collections-wrapper">
            {% for collection in collections %}
                <a href="{{ collection.url }}" class="collection-card-link"> <!-- Added anchor tag -->
                    <div class="collection-card">
                        <img
                                width="300"
                                height="300"
                                loading="lazy"
                                src="{{ collection.featured_image | image_url }}"
                        >
                        <h3>{{- collection.title }}</h3> <!-- Removed link_to filter -->
                    </div>
                </a>
            {% endfor %}
        </div>

        {% comment %}
          <div class="scroll-buttons">
            <button class="scroll-left">&lt;</button>
            <button class="scroll-right">&gt;</button>
          </div>
        {% endcomment %}
    </div>
</section>

<style>
    .all-collections {
        background: {{ section.settings.background }};
        color: {{ section.settings.text_color }};
        padding: 10px;
    }

    .all-collections h1 {
        text-align: center;
        text-transform: uppercase;
    }

    .collection-container {
        position: relative;
        overflow-x: scroll;
    }

    .all-collections-wrapper {
        display: flex;
        transition: transform 0.3s ease; /* Add smooth transition effect */
        border-radius: 5px;
    }

    .collection-card-link {
        text-decoration: none;
    }

    .collection-card {
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #DDDDDD;
        text-decoration: none;
        margin: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 5px;
    }

    .collection-card h3 {
        color: black;
        text-transform: uppercase;
        text-align: center;
        margin-top: 10px;
        text-decoration: none;
    }

    .collection-card img {
        border-radius: 5px;
    }

    .collection-card:hover {
        scale: 1.01;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        transition: ease-in-out 0.3s;

    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const wrapper = document.querySelector('.all-collections-wrapper');
        const scrollLeftButton = document.querySelector('.scroll-left');
        const scrollRightButton = document.querySelector('.scroll-right');

        scrollLeftButton.addEventListener('click', function () {
            wrapper.scrollBy({
                left: -300, // Adjust based on your card width
                behavior: 'smooth',
            });
        });

        scrollRightButton.addEventListener('click', function () {
            wrapper.scrollBy({
                left: 300, // Adjust based on your card width
                behavior: 'smooth',
            });
        });
    });
</script>

{% schema %}
{
  "name": "all-collections",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "all-collections"
    }
  ]
}
{% endschema %}
