{% form 'cart', cart %}
    <section class="cart-sec">
        {% if cart.empty? %}
            <div class="empty-cart">
                <p>Cart is empty</p>
            </div>
        {% else %}
            <div class="non-empty-cart">
                {%- render 'cart-drawer' -%}
                {% for item in cart.items %}
                    <div class="cart-item">
                        <img
                                width="200"
                                height="200"
                                loading="lazy"
                                src="{{ item.image | image_url }}"
                                alt="{{ item.title }}"
                        >
                        <div class="cart-item-details">
                            <h2>{{ item.title }}</h2>
                            <p>{{ item.final_line_price | money }}</p>
                            <input type="number" name="updates[]" value="{{ item.quantity }}" min="1" required>
                            <a href="{{ item.url_to_remove }}">Remove</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="cart-total">
                    <p>Total: {{ cart.total_price | money }}</p>
                </div>
                <div class="cart-buttons">
                    <button type="submit" name="update" required>Update</button>
                    <button type="submit" name="checkout" required>Checkout</button>
                </div>
            </div>
        {% endif %}
    </section>
{% endform %}

<style>
    .cart-sec {
        background-color: rgb(226, 226, 226);
        padding: 20px;
    }

    .empty-cart {
        text-align: center;
    }

    .non-empty-cart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cart-item {
        display: flex;
        margin-bottom: 20px;
    }

    .cart-item img {
        margin-right: 20px;
        max-width: 100%;
        height: auto;
    }

    .cart-item-details {
        flex: 1;
    }

    .cart-total {
        margin-top: 20px;
        font-weight: bold;
    }

    .cart-buttons {
        margin-top: 20px;
    }
</style>

{% schema %}
{
  "name": "cart",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "cart"
    }
  ]
}
{% endschema %}
