<div class="cart-items">
    {% for item in cart.items %}
        <div class="cart-item">
            <img
                    width="200"
                    height="200"
                    loading="lazy"
                    src="{{ item.image | image_url }}"
                    alt="{{ item.title }}"
            >
            <div class="cart-item-details">
                <h2>{{ item.title }}</h2>
                <p>{{ item.final_line_price | money }}</p>
                <input type="number" name="updates[]" value="{{ item.quantity }}" min="1" required>
                <a href="{{ item.url_to_remove }}">Remove</a>
            </div>
        </div>
    {% endfor %}
</div>
