<section class="product-main">
    <div class="product-main-wrapper">
        <div class="product-image">
            <img
                    width="600"
                    height="600"
                    loading="lazy"
                    src="{{ product.featured_image | image_url }}"
                    alt="{{ product.title }}"
            >
        </div>
        <div class="product-details">
            <h2>{{ product.title }}</h2>
            <p class="product-price">{{ product.price | money }}</p>
            <p class="product-description">{{ product.description }}</p>
            <div class="product-options">
                <h3>Select Size</h3>
                <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form">
                    <select name="id" class="product-variant-select">
                        {% for variant in product.variants %}
                            <option value="{{ variant.id }}">{{ variant.title }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add to Cart" class="product-add-to-cart-btn">
                </form>
            </div>
        </div>
    </div>
</section>

<style>
    .product-main {
        background: {{ section.settings.background }};
        color: {{ section.settings.text_color }};
        padding: 20px;
    }

    .product-main-wrapper {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .product-image {
        margin-right: 20px;
    }

    .product-image img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .product-details {
        flex: 1;
    }

    .product-price {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .product-description {
        margin-bottom: 20px;
    }

    .product-options {
        margin-top: 20px;
    }

    .product-options h3 {
        margin-bottom: 10px;
    }

    .product-variant-select {
        padding: 8px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .product-add-to-cart-btn {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .product-add-to-cart-btn:hover {
        background-color: #555;
    }
</style>


{% schema %}
{
  "name": "Product-main",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "product-main"
    }
  ]
}
{% endschema %}