<section class="product-main">
    <div class="product-main-wrapper">
        <div class="product-images-container">
            <div class="product-image-wrapper">
                <button class="prev-image-btn">&#10094;</button> <!-- Previous button -->
                <div class="product-images">
                    {% for image in product.images %}
                        <img
                                height="450px"
                                width="750px"
                                loading="lazy"
                                src="{{ image | image_url }}"
                                alt="{{ product.title }}"
                                class="product-image"
                        >
                    {% endfor %}
                </div>
                <button class="next-image-btn">&#10095;</button> <!-- Next button -->
            </div>
        </div>
        <div class="product-details">
            <h1>{{ product.title }}</h1>
            <p class="product-price">{{ product.price | money }}</p>
            <p class="product-description">{{ product.description }}</p>
            <div class="product-options">
                <h3>Select Size</h3>
                <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form">
                    <select name="id" class="product-variant-select">
                        {% for variant in product.variants %}
                            <option value="{{ variant.id }}">{{ variant.title }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add to Cart" class="product-add-to-cart-btn">
                </form>
            </div>
        </div>
    </div>
</section>

<style>

    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .product-images-container {
        position: relative;
    }

    .prev-image-btn, .next-image-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        cursor: pointer;
        font-size: 30px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0);
        color: #ffffff;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1;

    }

    .prev-image-btn {
        left: 0;
    }

    .next-image-btn {
        right: 0;
    }

    .product-main {
        background: {{ section.settings.background }};
        color: {{ section.settings.text_color }};
        padding: 20px;
    }

    .product-main-wrapper {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .product-image {
        display: block;
        width: 550px;
        height: 550px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .product-image img {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    .product-details {
        flex: 1;
        padding: 20px;
    }

    .product-price {
        font-weight: bold;
        font-size: 1.4rem;
        margin-bottom: 20px;
    }

    .product-description {
        margin-bottom: 20px;
    }

    .product-options {
        margin-top: 20px;
    }

    .product-options h3 {
        margin-bottom: 10px;
    }

    .product-variant-select {
        padding: 10px 20px;
        border: none;
        color: #616e7c; /* Set text color to black */
        background-color: #dedede; /* Set background color to white */
        border-radius: 5px;
        box-shadow: 2px 2px 0 #b6babe; /* Add 3D corner effect */
        cursor: pointer;
        width: 400px;
        text-align: center;
        margin-bottom: 25px;
    }

    .product-variant-select:hover {
        color: #616e7c; /* Set text color to white */
        background-color: #eeeeee; /* Set background color to black */
    }

    .product-variant-select:focus {
        outline: none;
    }

    .product-form {
        display: flex;
        flex-direction: column;

    }

    .product-add-to-cart-btn {
        padding: 10px 20px;
        width: 400px;
        border: none;
        color: #616e7c; /* Set text color to black */
        background-color: #dedede; /* Set background color to white */
        border-radius: 5px;
        box-shadow: 2px 2px 0 #b6babe; /* Add 3D corner effect */
        cursor: pointer;
    }

    .product-add-to-cart-btn:hover {
        color: #616e7c; /* Set text color to white */
        background-color: #eeeeee; /* Set background color to black */
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const prevBtn = document.querySelector('.prev-image-btn');
        const nextBtn = document.querySelector('.next-image-btn');
        const images = document.querySelectorAll('.product-image');
        let currentImageIndex = 0;

        // Hide all images except the first one
        images.forEach((image, index) => {
            if (index !== currentImageIndex) {
                image.style.display = 'none';
            }
        });

        // Function to show the next image
        function showNextImage() {
            images[currentImageIndex].style.display = 'none';
            currentImageIndex = (currentImageIndex + 1) % images.length;
            images[currentImageIndex].style.display = 'block';
        }

        // Function to show the previous image
        function showPrevImage() {
            images[currentImageIndex].style.display = 'none';
            currentImageIndex = (currentImageIndex - 1 + images.length) % images.length;
            images[currentImageIndex].style.display = 'block';
        }

        // Event listeners for the buttons
        nextBtn.addEventListener('click', showNextImage);
        prevBtn.addEventListener('click', showPrevImage);
    });
</script>

{% schema %}
{
  "name": "Product-main",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "product-main"
    }
  ]
}
{% endschema %}